.card:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 15px 1px rgb(255, 0, 0);
  cursor: pointer;
}
.card {
  border-radius: 1 !important;
  width: 200px;
  height: auto;
  animation: 200ms ease-in-out 1 grow;
}
.card-body {
  font-family: "helvatica" sans-serif !important;
}
img {
  width: 100px;
  height: 50px;
}
